ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
JWT_SECRET="u8/kE4rz2UG0N5eTTMJHNLKOKb0//7OKTs4YQ8dnaT0=" # openssl rand -base64 32

SRS_API_URL="http://127.0.0.1:1985"
SRS_API_AUTH_USERNAME=admin
SRS_API_AUTH_PASSWORD=admin

RTMP_BASE_URL="rtmp://127.0.0.1:1935"
SRT_BASE_URL="srt://127.0.0.1:10080"
HTTP_FLV_BASE_URL="http://127.0.0.1:8080"
WEB_RTC_BASE_URL="http://127.0.0.1:1985/rtc/v1"